/*
 * Palette URL: http://paletton.com/#uid=53s1p0kllll3UMecCtyu3d8Pi4W
 * Page layout: positive design
 *
 * Mat. Design Recommends:
 *
 * ---- DARK TEXT ON LIGHT BACKGROUNDS:
 *    Dark text (#000000)   |   Opacity
 * ------------------------------------
 * Primary text             |   87%
 * Secondary text           |   54%
 * Disabled text, hint text |   38%
 * Dividers                 |   12%
 *
 *
 * ---- WHITE TEXT ON DARK BACKGROUNDS:
 *    Light text (#FFFFFF)  |   Opacity
 * ------------------------------------
 * Primary text             |   100%
 * Secondary text           |   70%
 * Disabled text, hint text |   50%
 * Dividers                 |   12%
 *
 *
 * ---- ICONS
 *
 *    Dark icons (#000000)  | Opacity
 * ------------------------------------
 * Active Icon              | 54%
 * Inactive Icon            | 38%
 *
 *
 *    Light icons (#FFFFFF) |   Opacity
 * ------------------------------------
 * Active Icon              | 100%
 * Inactive Icon            | 50%
 *
 */

:root {
  --color-primary-0: rgba( 39,  85, 108, 1);	/* BLUE SHADES: Main Primary color */
  --color-primary-1: rgba(187, 204, 212, 1);
  --color-primary-2: rgba( 93, 131, 149, 1);
  --color-primary-3: rgba(  7,  47,  66, 1);
  --color-primary-4: rgba(  0,  17,  25, 1);

  --color-secondary-1-0: rgba(101,  39, 112, 1);	/* PURPLE SHADES: Main Secondary color (1) */
  --color-secondary-1-1: rgba(211, 189, 215, 1);
  --color-secondary-1-2: rgba(146,  95, 155, 1);
  --color-secondary-1-3: rgba( 59,   6,  69, 1);
  --color-secondary-1-4: rgba( 22,   0,  26, 1);

  --color-secondary-2-0: rgba(151, 166,  55, 1);	/* YELLOWISH SHADES: Main Secondary color (2) */
  --color-secondary-2-1: rgba(248, 252, 221, 1);
  --color-secondary-2-2: rgba(218, 229, 139, 1);
  --color-secondary-2-3: rgba( 90, 102,   6, 1);
  --color-secondary-2-4: rgba( 33,  38,   0, 1);

  --color-mdl-grey-100: rgba(245, 245, 245, 1); /* #F5F5F5 --> 245 */
  --color-mdl-grey-300: rgba(224, 224, 224, 1); /* #E0E0E0; --> 224 */
  --color-mdl-grey-500: rgba(158, 158, 158, 1); /* #9E9E9E; --> 158 */
  --color-mdl-grey-700: rgba( 97,  97,  97, 1); /* #616161; -->  97 */
  --color-mdl-grey-900: rgba( 33,  33,  33, 1); /* #212121; -->  33 */

  --color-warn-light: rgba(200, 50, 50, 1);

  --color-navs: var(--color-primary-0);
  --color-nav-bar: var(--color-secondary-2-1);
  --color-sidebar-bg: var(--color-mdl-grey-500);
  --color-content: var(--color-mdl-grey-300);
  --color-content--hover: var(--color-mdl-grey-500);
  --color-page-bg: var(--color-mdl-grey-100);
  --color-banner-text: var(--color-primary-2);
  --color-cold-links: var(--color-primary-3);
  --color-active-links: var(--color-secondary-2-2);
  --color-active-links--alt: var(--color-secondary-2-1);
  --color-active-nav: var(--color-mdl-grey-900);
  --color-active-nav--alt: var(--color-primary-3);
  --color-flash-text: var(--color-warn-light);
  --color-flash-bg: var(--color-secondary-2-2);
}

html,
body,
div,
span,
p,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-page-bg);
  width: 80%;
  margin: 0 auto;
}

#app {
  width: 100%;
  background-color: var(--color-content);
}

#latest {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
              "sidebar content content";
  grid-area: main;
}

.nav-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  background-color: var(--color-navs);
}

#branding {
  height: 70%;
  display: flex;
  justify-content: space-between;
}

#branding h1 {
  padding-left: 1rem;
  padding-right: 2rem;
  font-family: 'Impact', sans-serif;
  font-size: 5rem;
  font-style: italic;
  text-align: right;
}

#branding h1,
#branding .fa-newspaper-o {
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.54);
}

#branding .fa-newspaper-o {
  padding-top: 0.5rem;
  padding-left: 3rem;
  transform: rotateZ(15deg);
}

#nav-bar {
  height: 30%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px var(--color-navs) solid;
}

.nav-bar-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  font-size: 1.75rem;
  font: bold;
  text-align: left;
  background-color: var(--color-nav-bar);
  border-top: 1px var(--color-navs) solid;
}

.nav-bar-link.router-link-exact-active {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  background-color: var(--color-active-nav);
  color: var(--color-active-links);
  opacity: 0.75;
}

.nav-bar-link:not(:last-child) {
  border-right: 1px var(--color-navs) solid;
}

.nav-bar-link:hover {
  cursor: pointer;
  background-color: var(--color-active-nav--alt);
  color: var(--color-active-links--alt);
  opacity: 0.55;
}

.nav-sources {
  grid-area: sidebar;
}

.content {
  background-color: var(--color-content);
  padding-top: 2rem;
  padding-right: 1rem;
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.source-item {
  height: 2.3rem;
  font-size: 1.25rem;
}

.source-item.active,
.source-item:hover {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  background-color: var(--color-active-nav);
  color: var(--color-active-links);
  /* transform: translate(1rem); */
}

.source-item.active {
  padding-left: 1.5rem;
  opacity: 0.75;
}

.source-item:hover {
  opacity: 0.5;
}

#readlist,
#shelf {
  padding-left: 1rem;
}

#sidebar {
  position: relative;
  min-height: 80vh;
  padding-top: 2rem;
  padding-left: 1rem;
  background-color: var(--color-sidebar-bg);
}

.postItem {
  width: 100%;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
              "purl   purl  purl  purl  pactions"
              "phost  phost .     .     pdate";
}

.postItem {
  border-top: 1px rgba(50, 50, 50, 0.3) solid;
}

.postItem:hover {
  background-color: var(--color-content--hover);
}

.post-url {
  grid-area: purl;
}

.post-host {
  grid-area: phost;
}

.post-date {
  grid-area: pdate;
  text-align: right;
}

.post-host,
.post-date {
  font-size: 0.7rem;
}

.post-actions {
  grid-area: pactions;
  text-align: right;
}

.post-actions,
.post-url {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.post-actions .fa {
  padding-left: 1rem;
  color: var(--color-nav-links);
}

.source-item:hover,
.nav-bar-link:hover,
.post-actions .fa:hover {
  cursor: pointer;
}

.post-category {
  grid-area: pcat;
}

a {
  color: var(--color-cold-links);
}

#nav-footer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 1rem;
  padding-left: 1rem;
  height: 10vh;
  background-color: var(--color-nav-bar);
  font-size: 1.2rem;
  color: var(--color-navs);
  border-top: 2px var(--color-navs) solid;
}

.flash-warn {
  padding-left: 1rem;
  width: 100%;
  font-size: 1.5rem;
  color: var(--color-flash-text);
  background-color: var(--color-flash-bg);
  opacity: 0.5;
}

.flash-warn > p {
  width: 100%;
  padding-left: 2rem;
  padding-right: 0;
}

.fa-star {
  transform: none;
  animation: is-favorited 1s ease-out;
}

.fa-bookmark {
  transform: none;
  animation: is-bookmarked 1s ease-out;
}

@keyframes is-favorited {
  50% {
    transform-origin: 50% 50%;
    transform: rotateZ(-20deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: scale(1.5) rotateZ(20deg);
    color: hsl(240, 60%, 70%);
  }
}

@keyframes is-bookmarked {
  100% {
    transform-origin: 50% 50%;
    transform: scale(1.7);
    color: hsl(240, 60%, 70%);
  }
}

#newsfeed {
  min-height: 80vh;
}

.feed-info {
  display: flexbox;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.75rem;
  height: 4.5rem;
  padding: .5rem 0;
}

#feed-spinner {
  display: block;
  padding: .5rem;
  margin: 0;
}

.feed-info span:last-child {
  padding-left: 1rem;
}

